<h3>Software List</h3>
@if (Products == null)
{
	<p>Загрузка ...</p>
}
else
{
	<div class="list-group">
		@{
			var i = 1;
			foreach (var software in Products)
			{

				<button type="button" class="list-group-item list-group-item-action @(SelectedId == software.SoftwareId ? "active" : "")" @onclick="@(e => Selected(e, software.SoftwareId))">>

					@(i++) - @software.SoftwareName
				</button>
			}
		}
	</div>
}
@code {
	[Parameter]
	public IEnumerable<ListViewModel> Products { get; set; }
	[Parameter]
	public EventCallback<IEnumerable<ListViewModel>> ProductsChanged
	{
		get; set;
	}

	private int SelectedId = 0;
	[Parameter]
	public EventCallback<int> SelectedObjectChanged { get; set; }
	private void Selected(MouseEventArgs e, int id)
	{
		SelectedId = id;
		SelectedObjectChanged.InvokeAsync(id);
	}
}